parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$products with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$deletedAt\\.$#"
			count: 1
			path: src/Service/ProductService.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$description\\.$#"
			count: 1
			path: src/Service/ProductService.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 2
			path: src/Service/ProductService.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$name\\.$#"
			count: 1
			path: src/Service/ProductService.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$updatedAt\\.$#"
			count: 1
			path: src/Service/ProductService.php

		-
			message: "#^Parameter \\#2 \\$product of method App\\\\Service\\\\ProductService\\:\\:validatePayload\\(\\) expects App\\\\Entity\\\\Product, object given\\.$#"
			count: 1
			path: src/Service/ProductService.php
